<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Report</title>
</head>
<body>
<table border="1" width="50%">
  <thead>
  <tr>
    <td>S#</td>
    <td>UserName</td>
    <td>Email</td>
    <td>Gender</td>
    <td>Department</td>
    <td>CreatedDate</td>
  </tr>
  </thead>
  <tbody>
   <tr th:each="user,userStat : ${user}">
    <td th:text="${userStat.count}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.gender}"></td>
    <td th:text="${user.department.department}"></td>
    <td th:text="${user.createdDate}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>