<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Report</title>
</head>
<body>
<table border="1" width="50%">
  <thead>
  <tr>
    <td>S#</td>
    <td>Id</td>
    <td>FirstName</td>
    <td>LastName</td>
    <td>Email</td>
    <td>Role</td>
  </tr>
  </thead>
  <tbody>
  <tr th:each="employee , empStat: ${employee}">
    <td th:text="${empStat.count}"></td>
    <td th:text="${employee.Id}"></td>
    <td th:text="${employee.firstName}"></td>
    <td th:text="${employee.lastName}"></td>
    <td th:text="${employee.email}"></td>
    <td th:text="${employee.roleV}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>