<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Switch Expression</title>
</head>
<body>
      <h2>SWITCH EXPRESSION</h2>
      <div th:each="employee: ${employee}">
          <div th:switch="${employee.roleV}">
              <p>FirstName: <span th:text="${employee.firstName}"></span></p>
              <p>LastName: <span th:text="${employee.lastName}"></span></p>
              <p>Email: <span th:text="${employee.email}"></span></p>
              <p th:case="'ADMIN'">Role: Admin Rights</p>
              <p th:case="'USER'">Role: User Rights</p>
              <p th:case="*">Role: Other Rights</p>
              <hr/>
          </div>
      </div>
</body>
</html>